@import "zero.scss";

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 1 auto;
}
.header {
    background-color: #8D5CF6;
    height: 825px;
    padding-top: 30px;
    &__title{
    padding-top: 8px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    }
    &__maintitle{
        padding-left: 220px;
        padding-top: 220px;
        width: 665px;
        height: 160px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 58px;
        line-height: 80px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }
    &__subtitle{
        width: 670px;
        height: 60px;
        padding-left: 250px;
        padding-top: 80px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }
    &__subbuttons{
    padding-right: 130px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    }
    &__row{
        display: flex;
        justify-content: space-between;
        &__second{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 140px;
            height: 600px;
        }

    }
    &__menu{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    &__button1{
        width: 170px;
        background-color: #FF7B52;
        border-radius: 5px;
        padding: 15px 25px 15px 25px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }
    &__button2{
        margin-left: 5px;
        width: 140px;
        background: #8D5CF6;
        border: 1px solid #FF7B52;
        border-radius: 5px;
        padding: 15px 25px 15px 25px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.2px;
        color: #ffff;
    }
        :visited{
            color: #FFFFFF;
        }
        .header__menu__href{
            padding-left: 21px;
            color: #ffff;
        }
        .header__menu__login{
            color: #ffff;
        }
        .header_menu_button{
            background: url(../images/Arrow.jpg) 95px 20px no-repeat;
            background-color: #FF7B52;
            border-radius: 5px;
            padding: 15px 52px 15px 25px;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.2px;
            color: #FFFFFF;
        }
        :nth-child(5){
           padding-left: 400px;
           padding-right: 50px;
        }
    }
}
.container {
    max-width: 1180px;
    margin: 0px auto;
}
.expertteachers{
    height: 768px; 
    background-color: #26335D;
    &__row{
        display: flex;
        flex-direction: column;
    }
    &__title{
        padding-top: 100px;
        &__advice{
        height: 37px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #8D5CF6;
        }
        &__maintitle{
        height: 50px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        }
        &__problems{
        width: 469px;
        height: 40px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        padding-top: 10px;
        }
    }
    &__images{
        padding-top: 70px;
        }
        &__row__images{
            display: flex;
            .expertteachers__images__flexcolumn{
                width: 230px;
                height: 292px;
                background: #FFFFFF url(../images/Book_Liberary.png) 35px 40px no-repeat;
                p:nth-child(1){
                    padding-top: 130px;
                    padding-left: 40px;
                    color: #252B42;
                    width: 190px;
                    height: 24px;
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.1px;
                }
                p:nth-child(2){
                    background:  url(../images/Underline.png) 41px 35px no-repeat;
                    color: #737373;
                    padding-top: 50px;
                    padding-left: 40px;
                    width: 190px;
                    height: 60px;
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                    }
            }
            .expertteachers__images__flexcolumn2{
                margin: 40px 0 0 40px;
                width: 230px;
                height: 292px;
                background: #FFFFFF url(../images/Certified_Teacher.png) 35px 40px no-repeat;
                p:nth-child(1){
                    padding-top: 130px;
                    padding-left: 40px;
                    color: #252B42;
                    width: 190px;
                    height: 24px;
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.1px;
                }
                p:nth-child(2){
                    background:  url(../images/Underline.png) 41px 35px no-repeat;
                    color: #737373;
                    padding-top: 50px;
                    padding-left: 40px;
                    width: 190px;
                    height: 60px;
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                    }
            }
            .expertteachers__images__flexcolumn3{
                margin: 0 0 0 50px;
                width: 230px;
                height: 292px;
                background: #8D5CF6 url(../images/Training_Courses.png) 35px 40px no-repeat;
                p:nth-child(1){
                    padding-top: 130px;
                    padding-left: 40px;
                    color: #FFFFFF;
                    width: 190px;
                    height: 24px;
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.1px;
                }
                p:nth-child(2){
                    background:  url(../images/Underline_white.png) 41px 35px no-repeat;
                    color: #FFFFFF;
                    padding-top: 50px;
                    padding-left: 40px;
                    width: 190px;
                    height: 60px;
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.2px; 
                    }
            }
            .expertteachers__images__flexcolumn4{
                margin: 50px 0 0 50px;
                width: 230px;
                height: 292px;
                background: #ffff url(../images/online.png) 35px 40px no-repeat;
                p:nth-child(1){
                    padding-top: 130px;
                    padding-left: 40px;
                    color: #252B42;
                    width: 230px;
                    height: 24px;
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.1px;
                }
                p:nth-child(2){
                    background:  url(../images/Underline.png) 41px 35px no-repeat;
                    color: #737373;
                    padding-top: 50px;
                    padding-left: 40px;
                    width: 190px;
                    height: 60px;
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                }
            }
        }
}
.footer {
    background-color:  #FAFAFA;
    &__row{
        display: flex;
        height: 74px;
    }
    &__text{
    height: 24px;  
    margin-top: 25px;
    margin-left: 125px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    }
    &__images{
    margin-top: 25px;
    margin-left: 520px;
    .footer__images__deeper{
        margin-left: 22px;
    }
    }
}