* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 10px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.header {
  background-color: #8D5CF6;
  height: 825px;
  padding-top: 30px;
}

.header__title {
  padding-top: 8px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}

@media (max-width: 696px) {
  .header__title {
    text-align: center;
    padding-bottom: 10px;
  }
}

.header__maintitle {
  padding-top: 220px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

@media (max-width: 470px) {
  .header__maintitle {
    padding-top: 100px;
  }
}

@media (max-width: 310px) {
  .header__maintitle {
    font-size: 40px;
  }
}

.header__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.header__subbuttons {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 696px) {
  .header__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__row__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 600px;
}

.header__menu {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.header__menu__button1 {
  width: 170px;
  background-color: #FF7B52;
  border-radius: 5px;
  padding: 15px 25px 15px 25px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

@media (max-width: 340px) {
  .header__menu__button1 {
    margin-bottom: 10px;
  }
}

.header__menu__button2 {
  margin-left: 5px;
  width: 140px;
  background: #8D5CF6;
  border: 1px solid #FF7B52;
  border-radius: 5px;
  padding: 15px 25px 15px 25px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #ffff;
}

.header__menu :visited {
  color: #FFFFFF;
}

.header__menu .header__menu__href {
  padding-left: 21px;
  color: #ffff;
}

.header__menu .header__menu__login {
  color: #ffff;
  padding-left: 400px;
  padding-right: 50px;
}

@media (max-width: 1200px) {
  .header__menu .header__menu__login {
    padding-left: 50px;
  }
}

@media (max-width: 995px) {
  .header__menu .header__menu__login {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.header__menu .header_menu_button {
  background: url(../images/Arrow.jpg) 100px 20px no-repeat;
  background-color: #FF7B52;
  border-radius: 5px;
  padding: 15px 52px 15px 25px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

@media (max-width: 544px) {
  .header__menu .header_menu_button {
    margin-top: 10px;
  }
}

.expertteachers {
  background-color: #26335D;
}

.expertteachers__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.expertteachers__title {
  padding-top: 100px;
}

.expertteachers__title__advice {
  height: 37px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #8D5CF6;
}

.expertteachers__title__maintitle {
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

@media (max-width: 490px) {
  .expertteachers__title__maintitle {
    font-size: 20px;
  }
}

.expertteachers__title__problems {
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  padding-top: 10px;
}

.expertteachers__images {
  padding-top: 70px;
}

.expertteachers__row__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  .expertteachers__row__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 20px;
  }
}

.expertteachers__row__images .expertteachers__images__flexcolumn {
  min-width: 230px;
  height: 292px;
  background-color: #FFFFFF;
}

.expertteachers__row__images .expertteachers__images__flexcolumn .expertteachers__images__B_L {
  width: 70px;
  height: 78px;
  margin-left: 37px;
  margin-top: 35px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.expertteachers__row__images .expertteachers__images__flexcolumn p:nth-child(2) {
  padding-left: 40px;
  color: #252B42;
  width: 190px;
  height: 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.expertteachers__row__images .expertteachers__images__flexcolumn p:nth-child(3) {
  background: url(../images/Underline.jpg) 41px 30px no-repeat;
  color: #737373;
  padding-top: 50px;
  padding-left: 40px;
  width: 190px;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.expertteachers__row__images .expertteachers__images__flexcolumn2 {
  margin: 40px 0 0 40px;
  min-width: 230px;
  height: 292px;
  background-color: #FFFFFF;
}

@media (max-width: 1200px) {
  .expertteachers__row__images .expertteachers__images__flexcolumn2 {
    margin: 10px 30px 0 0;
  }
}

@media (max-width: 280px) {
  .expertteachers__row__images .expertteachers__images__flexcolumn2 {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.expertteachers__row__images .expertteachers__images__flexcolumn2 .expertteachers__images__C_T {
  width: 70px;
  height: 78px;
  margin-left: 37px;
  margin-top: 35px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.expertteachers__row__images .expertteachers__images__flexcolumn2 p:nth-child(2) {
  padding-left: 40px;
  color: #252B42;
  width: 190px;
  height: 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.expertteachers__row__images .expertteachers__images__flexcolumn2 p:nth-child(3) {
  background: url(../images/Underline.jpg) 41px 30px no-repeat;
  color: #737373;
  padding-top: 50px;
  padding-left: 40px;
  width: 190px;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.expertteachers .expertteachers__images__flexcolumn3 {
  margin: 0 0 0 50px;
  min-width: 230px;
  height: 292px;
  background-color: #8D5CF6;
}

@media (max-width: 1200px) {
  .expertteachers .expertteachers__images__flexcolumn3 {
    margin: 10px 0 0 30px;
  }
}

@media (max-width: 280px) {
  .expertteachers .expertteachers__images__flexcolumn3 {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.expertteachers .expertteachers__images__flexcolumn3 .expertteachers__images__T_C {
  width: 70px;
  height: 78px;
  margin-left: 37px;
  margin-top: 35px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.expertteachers .expertteachers__images__flexcolumn3 p:nth-child(2) {
  padding-left: 40px;
  color: #ffff;
  width: 190px;
  height: 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.expertteachers .expertteachers__images__flexcolumn3 p:nth-child(3) {
  background: url(../images/Underline_white.jpg) 41px 30px no-repeat;
  color: #ffff;
  padding-top: 50px;
  padding-left: 40px;
  width: 190px;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.expertteachers .expertteachers__images__flexcolumn4 {
  margin: 40px;
  min-width: 230px;
  height: 292px;
  background-color: #ffff;
}

@media (max-width: 1200px) {
  .expertteachers .expertteachers__images__flexcolumn4 {
    margin: 10px 30px 0 0px;
  }
}

@media (max-width: 280px) {
  .expertteachers .expertteachers__images__flexcolumn4 {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.expertteachers .expertteachers__images__flexcolumn4 .expertteachers__images__online {
  width: 70px;
  height: 78px;
  margin-left: 37px;
  margin-top: 35px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.expertteachers .expertteachers__images__flexcolumn4 p:nth-child(2) {
  padding-left: 40px;
  color: #252B42;
  width: 230px;
  height: 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.expertteachers .expertteachers__images__flexcolumn4 p:nth-child(3) {
  background: url(../images/Underline.jpg) 41px 30px no-repeat;
  color: #737373;
  padding-top: 50px;
  padding-left: 40px;
  width: 190px;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.getqualityed {
  background-color: #26335D;
}

.getqualityed__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.getqualityed__title {
  padding-top: 100px;
}

.getqualityed__title__advice {
  height: 37px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #8D5CF6;
}

.getqualityed__title__maintitle {
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

@media (max-width: 490px) {
  .getqualityed__title__maintitle {
    font-size: 20px;
  }
}

.getqualityed__title__problems {
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  padding-top: 10px;
}

.getqualityed__images {
  padding-top: 70px;
}

.getqualityed__row__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  .getqualityed__row__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 20px;
  }
}

.getqualityed__row__images .getqualityed__images__flexcolumn {
  min-width: 238px;
  height: 602px;
  background-color: #FFFFFF;
}

.getqualityed__row__images .getqualityed__images__flexcolumn .getqualityed__images__B_L {
  background: url(../images/BsLib.jpg);
  background-size: cover;
  width: 238px;
  height: 300px;
}

.getqualityed__row__images .getqualityed__images__flexcolumn .getqualityed__images__B_L img:nth-child(3) {
  margin-left: 49px;
}

.getqualityed__row__images .getqualityed__images__flexcolumn .getqualityed__images__B_L_Text {
  margin-left: 25px;
}

.getqualityed__row__images .getqualityed__images__flexcolumn .getqualityed__images__B_L_Text p {
  margin-bottom: 15px;
}

.getqualityed__row__images .getqualityed__images__flexcolumn .getqualityed__images__B_L_Text__Title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.getqualityed__row__images .getqualityed__images__flexcolumn .getqualityed__images__B_L_Text__Focus {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.getqualityed__row__images .getqualityed__images__flexcolumn .getqualityed__images__B_L_Text__15_Sales {
  background: url(../images/Frame.jpg) no-repeat;
  background-size: contain;
  padding-left: 35px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.getqualityed__row__images .getqualityed__images__flexcolumn .getqualityed__images__B_L_Text__Price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.getqualityed__row__images .getqualityed__images__flexcolumn .getqualityed__images__B_L_Text__Price p:nth-child(1) {
  margin-right: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #BDBDBD;
}

.getqualityed__row__images .getqualityed__images__flexcolumn .getqualityed__images__B_L_Text__Price p:nth-child(2) {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #FF7B52;
}

.getqualityed__row__images .getqualityed__images__flexcolumn .getqualityed__images__B_L_Text__Learn {
  background: url(../images/Vector.jpg) 115px no-repeat;
  background-size: 9.14px 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #8D5CF6;
  border: 1px solid #8D5CF6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 37px;
  background-color: white;
  padding: 10px 39px 10px 20px;
}

.getqualityed__row__images .getqualityed__images__flexcolumn .getqualityed__images__sale {
  width: 53px;
  height: 25px;
  border-radius: 3px;
  margin-top: 20px;
  margin-left: 20px;
}

.getqualityed__row__images .getqualityed__images__flexcolumn .getqualityed__images__pics {
  margin: 175px 0 0 10px;
  width: 40px;
  height: 40px;
  border-radius: 44.7857px;
}

.getqualityed__row__images .getqualityed__images__flexcolumn .getqualityed__images__Welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.getqualityed__row__images .getqualityed__images__flexcolumn .getqualityed__images__Welcome p:nth-child(1) {
  margin-top: 25px;
  margin-left: 25px;
  color: #8D5CF6;
  width: 140px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.getqualityed__row__images .getqualityed__images__flexcolumn .getqualityed__images__Welcome__Star {
  margin-top: 25px;
  width: 50px;
  height: 26px;
}

.getqualityed__row__images .getqualityed__images__flexcolumn2 {
  margin: 0 0 0 40px;
  min-width: 238px;
  height: 602px;
  background-color: #FFFFFF;
}

@media (max-width: 375px) {
  .getqualityed__row__images .getqualityed__images__flexcolumn2 {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (max-width: 1200px) {
  .getqualityed__row__images .getqualityed__images__flexcolumn2 {
    margin: 10px 30px 0 0;
  }
}

.getqualityed__row__images .getqualityed__images__flexcolumn2 .getqualityed__images__B_L {
  background: url(../images/Ju.jpg);
  background-size: cover;
  width: 238px;
  height: 300px;
}

.getqualityed__row__images .getqualityed__images__flexcolumn2 .getqualityed__images__B_L img:nth-child(3) {
  margin-left: 49px;
}

.getqualityed__row__images .getqualityed__images__flexcolumn2 .getqualityed__images__B_L_Text {
  margin-left: 25px;
}

.getqualityed__row__images .getqualityed__images__flexcolumn2 .getqualityed__images__B_L_Text p {
  margin-bottom: 15px;
}

.getqualityed__row__images .getqualityed__images__flexcolumn2 .getqualityed__images__B_L_Text__Title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.getqualityed__row__images .getqualityed__images__flexcolumn2 .getqualityed__images__B_L_Text__Focus {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.getqualityed__row__images .getqualityed__images__flexcolumn2 .getqualityed__images__B_L_Text__15_Sales {
  background: url(../images/Frame.jpg) no-repeat;
  background-size: contain;
  padding-left: 35px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.getqualityed__row__images .getqualityed__images__flexcolumn2 .getqualityed__images__B_L_Text__Price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.getqualityed__row__images .getqualityed__images__flexcolumn2 .getqualityed__images__B_L_Text__Price p:nth-child(1) {
  margin-right: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #BDBDBD;
}

.getqualityed__row__images .getqualityed__images__flexcolumn2 .getqualityed__images__B_L_Text__Price p:nth-child(2) {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #FF7B52;
}

.getqualityed__row__images .getqualityed__images__flexcolumn2 .getqualityed__images__B_L_Text__Learn {
  background: url(../images/Vector.jpg) 115px no-repeat;
  background-size: 9.14px 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #8D5CF6;
  border: 1px solid #8D5CF6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 37px;
  background-color: white;
  padding: 10px 39px 10px 20px;
}

.getqualityed__row__images .getqualityed__images__flexcolumn2 .getqualityed__images__sale {
  width: 53px;
  height: 25px;
  border-radius: 3px;
  margin-top: 20px;
  margin-left: 20px;
}

.getqualityed__row__images .getqualityed__images__flexcolumn2 .getqualityed__images__pics {
  margin: 175px 0 0 10px;
  width: 40px;
  height: 40px;
  border-radius: 44.7857px;
}

.getqualityed__row__images .getqualityed__images__flexcolumn2 .getqualityed__images__Welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.getqualityed__row__images .getqualityed__images__flexcolumn2 .getqualityed__images__Welcome p:nth-child(1) {
  margin-top: 25px;
  margin-left: 25px;
  color: #8D5CF6;
  width: 140px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.getqualityed__row__images .getqualityed__images__flexcolumn2 .getqualityed__images__Welcome__Star {
  margin-top: 25px;
  width: 50px;
  height: 26px;
}

.getqualityed .getqualityed__images__flexcolumn3 {
  margin: 0 0 0 50px;
  min-width: 238px;
  height: 602px;
  background-color: #ffff;
}

@media (max-width: 1200px) {
  .getqualityed .getqualityed__images__flexcolumn3 {
    margin: 10px 0 0 30px;
  }
}

@media (max-width: 280px) {
  .getqualityed .getqualityed__images__flexcolumn3 {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.getqualityed .getqualityed__images__flexcolumn3 .getqualityed__images__Pensils {
  background: url(../images/Pensils.jpg);
  background-size: cover;
  width: 238px;
  height: 300px;
}

.getqualityed .getqualityed__images__flexcolumn3 .getqualityed__images__Pensils img:nth-child(3) {
  margin-left: 49px;
}

.getqualityed .getqualityed__images__flexcolumn3 .getqualityed__images__Pensils_Text {
  margin-left: 25px;
}

.getqualityed .getqualityed__images__flexcolumn3 .getqualityed__images__Pensils_Text p {
  margin-bottom: 15px;
}

.getqualityed .getqualityed__images__flexcolumn3 .getqualityed__images__Pensils_Text__Title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.getqualityed .getqualityed__images__flexcolumn3 .getqualityed__images__Pensils_Text__Focus {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.getqualityed .getqualityed__images__flexcolumn3 .getqualityed__images__Pensils_Text__15_Sales {
  background: url(../images/Frame.jpg) no-repeat;
  background-size: contain;
  padding-left: 35px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.getqualityed .getqualityed__images__flexcolumn3 .getqualityed__images__Pensils_Text__Price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.getqualityed .getqualityed__images__flexcolumn3 .getqualityed__images__Pensils_Text__Price p:nth-child(1) {
  margin-right: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #BDBDBD;
}

.getqualityed .getqualityed__images__flexcolumn3 .getqualityed__images__Pensils_Text__Price p:nth-child(2) {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #FF7B52;
}

.getqualityed .getqualityed__images__flexcolumn3 .getqualityed__images__Pensils_Text__Learn {
  background: url(../images/Vector.jpg) 115px no-repeat;
  background-size: 9.14px 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #8D5CF6;
  border: 1px solid #8D5CF6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 37px;
  background-color: white;
  padding: 10px 39px 10px 20px;
}

.getqualityed .getqualityed__images__flexcolumn3 .getqualityed__images__sale {
  width: 53px;
  height: 25px;
  border-radius: 3px;
  margin-top: 20px;
  margin-left: 20px;
}

.getqualityed .getqualityed__images__flexcolumn3 .getqualityed__images__pics {
  margin: 175px 0 0 10px;
  width: 40px;
  height: 40px;
  border-radius: 44.7857px;
}

.getqualityed .getqualityed__images__flexcolumn3 .getqualityed__images__Welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.getqualityed .getqualityed__images__flexcolumn3 .getqualityed__images__Welcome p:nth-child(1) {
  margin-top: 25px;
  margin-left: 25px;
  color: #8D5CF6;
  width: 140px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.getqualityed .getqualityed__images__flexcolumn3 .getqualityed__images__Welcome__Star {
  margin-top: 25px;
  width: 50px;
  height: 26px;
}

.getqualityed .getqualityed__images__flexcolumn4 {
  margin: 0 0 0 40px;
  min-width: 238px;
  height: 600px;
  background-color: #ffff;
}

@media (max-width: 1200px) {
  .getqualityed .getqualityed__images__flexcolumn4 {
    margin: 10px 30px 0 0px;
  }
}

@media (max-width: 280px) {
  .getqualityed .getqualityed__images__flexcolumn4 {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.getqualityed .getqualityed__images__flexcolumn4 .getqualityed__images__Pensils {
  background: url(../images/Notebook.jpg);
  background-size: cover;
  width: 238px;
  height: 300px;
}

.getqualityed .getqualityed__images__flexcolumn4 .getqualityed__images__Pensils img:nth-child(3) {
  margin-left: 49px;
}

.getqualityed .getqualityed__images__flexcolumn4 .getqualityed__images__Pensils_Text {
  margin-left: 25px;
}

.getqualityed .getqualityed__images__flexcolumn4 .getqualityed__images__Pensils_Text p {
  margin-bottom: 15px;
}

.getqualityed .getqualityed__images__flexcolumn4 .getqualityed__images__Pensils_Text__Title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.getqualityed .getqualityed__images__flexcolumn4 .getqualityed__images__Pensils_Text__Focus {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.getqualityed .getqualityed__images__flexcolumn4 .getqualityed__images__Pensils_Text__15_Sales {
  background: url(../images/Frame.jpg) no-repeat;
  background-size: contain;
  padding-left: 35px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.getqualityed .getqualityed__images__flexcolumn4 .getqualityed__images__Pensils_Text__Price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.getqualityed .getqualityed__images__flexcolumn4 .getqualityed__images__Pensils_Text__Price p:nth-child(1) {
  margin-right: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #BDBDBD;
}

.getqualityed .getqualityed__images__flexcolumn4 .getqualityed__images__Pensils_Text__Price p:nth-child(2) {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #FF7B52;
}

.getqualityed .getqualityed__images__flexcolumn4 .getqualityed__images__Pensils_Text__Learn {
  background: url(../images/Vector.jpg) 115px no-repeat;
  background-size: 9.14px 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #8D5CF6;
  border: 1px solid #8D5CF6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 37px;
  background-color: white;
  padding: 10px 39px 10px 20px;
}

.getqualityed .getqualityed__images__flexcolumn4 .getqualityed__images__sale {
  width: 53px;
  height: 25px;
  border-radius: 3px;
  margin-top: 20px;
  margin-left: 20px;
}

.getqualityed .getqualityed__images__flexcolumn4 .getqualityed__images__pics {
  margin: 175px 0 0 10px;
  width: 40px;
  height: 40px;
  border-radius: 44.7857px;
}

.getqualityed .getqualityed__images__flexcolumn4 .getqualityed__images__Welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.getqualityed .getqualityed__images__flexcolumn4 .getqualityed__images__Welcome p:nth-child(1) {
  margin-top: 25px;
  margin-left: 25px;
  color: #8D5CF6;
  width: 140px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.getqualityed .getqualityed__images__flexcolumn4 .getqualityed__images__Welcome__Star {
  margin-top: 25px;
  width: 50px;
  height: 26px;
}

.container__footer {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 10px;
}

.footer {
  background-color: #FAFAFA;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 74px;
}

.footer__text {
  margin-top: 25px;
  margin-left: 125px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.footer__images {
  margin-top: 25px;
  margin-left: 520px;
}

.footer__images .footer__images__deeper {
  margin-left: 22px;
  width: 23px;
  height: 23px;
}

@media (max-width: 1200px) and (max-width: 783px) {
  .footer .footer__text {
    margin-left: 50px;
  }
}

@media (max-width: 1200px) and (max-width: 455px) {
  .footer .footer__text {
    margin-left: 0px;
  }
}

@media (max-width: 1200px) and (max-width: 1200px) {
  .footer .footer__images {
    margin-left: 320px;
  }
}

@media (max-width: 1200px) and (max-width: 984px) {
  .footer .footer__images {
    margin-left: 120px;
  }
}

@media (max-width: 1200px) and (max-width: 783px) {
  .footer .footer__images {
    margin-top: 0px;
    margin-left: 50px;
  }
}

@media (max-width: 1200px) and (max-width: 455px) {
  .footer .footer__images {
    margin-left: 0px;
  }
}

@media (max-width: 1200px) and (max-width: 395px) {
  .footer .footer__images {
    margin-left: 0px;
  }
}

@media (max-width: 1200px) and (max-width: 395px) {
  .footer .footer__images__deeper {
    margin-top: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 1200px) and (max-width: 783px) {
  .footer .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    height: 150px;
  }
}

@media (max-width: 1200px) and (max-width: 783px) {
  .footer .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
